* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightblue;
}

.navigation {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
  padding-bottom: 1em;
}

.nav-content1 {
  padding: 0.77em 0em;
  text-align: center;
}

input {
  width: 50%;
  padding: 0.55em;
}

.button-search {
  margin-left: -5px;
  padding: 0.55em;
}

.search-link {
  text-decoration: none;
}

.help {
  text-decoration: none;
  color: black;
  margin-left: 5px;
}

.nav-content2 {
  text-transform: uppercase;
  font-weight: 550;
  font-size: 1em;
  text-align: center;
}

.services {
  display: block;
  margin-top: 5px;
  color: black;
  text-decoration: none;
}

.services:hover {
  opacity: 0.55;
}

.side-bar {
  margin-top: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 1px solid crimson;
  margin: 20px 30px;
  padding: 2em;
  height: 300px;
  background-color: white;
}

.Styles {
  margin-top: 20px;
}
.Rooms {
  display: block;
  margin-top: 10px;
  text-decoration: none;
}

.style {
  display: block;
  margin-top: 10px;
  text-decoration: none;
}

.kitchen {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* font-weight: 100; */
  text-align: center;
  background-color: white;
  margin: 20px 20px;
  padding: 1em;
}

h1 {
  font-weight: 50;
}

h2 {
  padding: 0.88em;
}

img {
  max-width: 100%;
  width: 500px;
}

@media (min-width: 770px) {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .services + .services {
    margin-left: 100px;
  }
  .content {
    display: flex;
    flex-direction: row;
  }

  .kitchen-1,
  .kitchen-2 {
    display: flex;
    margin-top: 15px;
  }
}
