* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightblue;
}

.navigation {
  /* border: 3px solid red; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
  padding-bottom: 1em;
}

.nav-content1 {
  /* border: 2px solid black; */
  padding: 0.77em 0em;
  text-align: center;
}

input {
  width: 50%;
  padding: 0.55em;
}

.button-search {
  margin-left: -5px;
  padding: 0.55em;
}

.search-link {
  text-decoration: none;
}

.help {
  text-decoration: none;
  color: black;
  margin-left: 5px;
}

.nav-content2 {
  /* border: 2px solid blueviolet; */
  text-transform: uppercase;
  font-weight: 550;
  font-size: 1em;
  text-align: center;
}

.services {
  display: block;
  margin-top: 5px;
  color: black;
  text-decoration: none;
}

.side-bar {
  margin-top: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 1px solid crimson;
  margin: 20px 30px;
  padding: 2em;
  background-color: white;
}

.Styles {
  margin-top: 20px;
}
.Rooms {
  display: block;
  margin-top: 10px;
  text-decoration: none;
}

.style {
  display: block;
  margin-top: 10px;
  text-decoration: none;
}
